Gyroflow/7acb2757-b6e7-4197-a0377e91-6fe5f12e.dmp
Gyroflow/gyroflow
Gyroflow/camera_presets/profiles.cbor.gz
Gyroflow/lib/libavcodec.so.62
Gyroflow/lib/libavfilter.so.11
Gyroflow/lib/libavformat.so.62
Gyroflow/lib/libavutil.so.60
Gyroflow/lib/libicudata.so.56
Gyroflow/lib/libicui18n.so.56
Gyroflow/lib/libicuuc.so.56
Gyroflow/lib/libmdk-braw.so
Gyroflow/lib/libmdk-r3d.so
Gyroflow/lib/libmdk.so.0
Gyroflow/lib/libQt6Core.so.6
Gyroflow/lib/libQt6DBus.so.6
Gyroflow/lib/libQt6EglFSDeviceIntegration.so.6
Gyroflow/lib/libQt6EglFsKmsSupport.so.6
Gyroflow/lib/libQt6Gui.so.6
Gyroflow/lib/libQt6LabsFolderListModel.so.6
Gyroflow/lib/libQt6LabsQmlModels.so.6
Gyroflow/lib/libQt6Network.so.6
Gyroflow/lib/libQt6OpenGL.so.6
Gyroflow/lib/libQt6Qml.so.6
Gyroflow/lib/libQt6QmlCore.so.6
Gyroflow/lib/libQt6QmlModels.so.6
Gyroflow/lib/libQt6QmlWorkerScript.so.6
Gyroflow/lib/libQt6Quick.so.6
Gyroflow/lib/libQt6QuickControls2.so.6
Gyroflow/lib/libQt6QuickControls2Impl.so.6
Gyroflow/lib/libQt6QuickDialogs2.so.6
Gyroflow/lib/libQt6QuickDialogs2QuickImpl.so.6
Gyroflow/lib/libQt6QuickDialogs2Utils.so.6
Gyroflow/lib/libQt6QuickLayouts.so.6
Gyroflow/lib/libQt6QuickTemplates2.so.6
Gyroflow/lib/libQt6Svg.so.6
Gyroflow/lib/libQt6WaylandClient.so.6
Gyroflow/lib/libQt6WaylandEglClientHwIntegration.so.6
Gyroflow/lib/libQt6Widgets.so.6
Gyroflow/lib/libQt6WlShellIntegration.so.6
Gyroflow/lib/libQt6XcbQpa.so.6
Gyroflow/lib/libshaderc_shared.so
Gyroflow/lib/libswresample.so.6
Gyroflow/lib/libswscale.so.9
Gyroflow/plugins/egldeviceintegrations/libqeglfs-emu-integration.so
Gyroflow/plugins/egldeviceintegrations/libqeglfs-kms-egldevice-integration.so
Gyroflow/plugins/egldeviceintegrations/libqeglfs-x11-integration.so
Gyroflow/plugins/generic/libqevdevkeyboardplugin.so
Gyroflow/plugins/generic/libqevdevmouseplugin.so
Gyroflow/plugins/generic/libqevdevtabletplugin.so
Gyroflow/plugins/generic/libqevdevtouchplugin.so
Gyroflow/plugins/generic/libqtuiotouchplugin.so
Gyroflow/plugins/iconengines/libqsvgicon.so
Gyroflow/plugins/imageformats/libqjpeg.so
Gyroflow/plugins/imageformats/libqsvg.so
Gyroflow/plugins/platforminputcontexts/libcomposeplatforminputcontextplugin.so
Gyroflow/plugins/platforminputcontexts/libibusplatforminputcontextplugin.so
Gyroflow/plugins/platforms/libqeglfs.so
Gyroflow/plugins/platforms/libqlinuxfb.so
Gyroflow/plugins/platforms/libqminimal.so
Gyroflow/plugins/platforms/libqminimalegl.so
Gyroflow/plugins/platforms/libqoffscreen.so
Gyroflow/plugins/platforms/libqvkkhrdisplay.so
Gyroflow/plugins/platforms/libqvnc.so
Gyroflow/plugins/platforms/libqwayland-egl.so
Gyroflow/plugins/platforms/libqwayland-generic.so
Gyroflow/plugins/platforms/libqxcb.so
Gyroflow/plugins/platformthemes/libqgtk3.so
Gyroflow/plugins/platformthemes/libqxdgdesktopportal.so
Gyroflow/plugins/wayland-decoration-client/libbradient.so
Gyroflow/plugins/wayland-graphics-integration-client/libdmabuf-server.so
Gyroflow/plugins/wayland-graphics-integration-client/libdrm-egl-server.so
Gyroflow/plugins/wayland-graphics-integration-client/libqt-plugin-wayland-egl.so
Gyroflow/plugins/wayland-graphics-integration-client/libshm-emulation-server.so
Gyroflow/plugins/wayland-graphics-integration-client/libvulkan-server.so
Gyroflow/plugins/wayland-shell-integration/libfullscreen-shell-v1.so
Gyroflow/plugins/wayland-shell-integration/libivi-shell.so
Gyroflow/plugins/wayland-shell-integration/libqt-shell.so
Gyroflow/plugins/wayland-shell-integration/libwl-shell-plugin.so
Gyroflow/plugins/wayland-shell-integration/libxdg-shell.so
Gyroflow/plugins/xcbglintegrations/libqxcb-egl-integration.so
Gyroflow/plugins/xcbglintegrations/libqxcb-glx-integration.so
Gyroflow/qml/Qt/labs/folderlistmodel/libqmlfolderlistmodelplugin.so
Gyroflow/qml/Qt/labs/folderlistmodel/qmldir
Gyroflow/qml/QtCore/libqtqmlcoreplugin.so
Gyroflow/qml/QtCore/qmldir
Gyroflow/qml/QtQml/libqmlplugin.so
Gyroflow/qml/QtQml/qmldir
Gyroflow/qml/QtQml/Models/libmodelsplugin.so
Gyroflow/qml/QtQml/Models/qmldir
Gyroflow/qml/QtQml/WorkerScript/libworkerscriptplugin.so
Gyroflow/qml/QtQml/WorkerScript/qmldir
Gyroflow/qml/QtQuick/libqtquick2plugin.so
Gyroflow/qml/QtQuick/qmldir
Gyroflow/qml/QtQuick/Controls/libqtquickcontrols2plugin.so
Gyroflow/qml/QtQuick/Controls/qmldir
Gyroflow/qml/QtQuick/Controls/Basic/AbstractButton.qml
Gyroflow/qml/QtQuick/Controls/Basic/Action.qml
Gyroflow/qml/QtQuick/Controls/Basic/ActionGroup.qml
Gyroflow/qml/QtQuick/Controls/Basic/ApplicationWindow.qml
Gyroflow/qml/QtQuick/Controls/Basic/BusyIndicator.qml
Gyroflow/qml/QtQuick/Controls/Basic/Button.qml
Gyroflow/qml/QtQuick/Controls/Basic/ButtonGroup.qml
Gyroflow/qml/QtQuick/Controls/Basic/Calendar.qml
Gyroflow/qml/QtQuick/Controls/Basic/CalendarModel.qml
Gyroflow/qml/QtQuick/Controls/Basic/CheckBox.qml
Gyroflow/qml/QtQuick/Controls/Basic/CheckDelegate.qml
Gyroflow/qml/QtQuick/Controls/Basic/ComboBox.qml
Gyroflow/qml/QtQuick/Controls/Basic/Container.qml
Gyroflow/qml/QtQuick/Controls/Basic/Control.qml
Gyroflow/qml/QtQuick/Controls/Basic/DayOfWeekRow.qml
Gyroflow/qml/QtQuick/Controls/Basic/DelayButton.qml
Gyroflow/qml/QtQuick/Controls/Basic/Dial.qml
Gyroflow/qml/QtQuick/Controls/Basic/Dialog.qml
Gyroflow/qml/QtQuick/Controls/Basic/DialogButtonBox.qml
Gyroflow/qml/QtQuick/Controls/Basic/Drawer.qml
Gyroflow/qml/QtQuick/Controls/Basic/Frame.qml
Gyroflow/qml/QtQuick/Controls/Basic/GroupBox.qml
Gyroflow/qml/QtQuick/Controls/Basic/HorizontalHeaderView.qml
Gyroflow/qml/QtQuick/Controls/Basic/ItemDelegate.qml
Gyroflow/qml/QtQuick/Controls/Basic/Label.qml
Gyroflow/qml/QtQuick/Controls/Basic/libqtquickcontrols2basicstyleplugin.so
Gyroflow/qml/QtQuick/Controls/Basic/Menu.qml
Gyroflow/qml/QtQuick/Controls/Basic/MenuBar.qml
Gyroflow/qml/QtQuick/Controls/Basic/MenuBarItem.qml
Gyroflow/qml/QtQuick/Controls/Basic/MenuItem.qml
Gyroflow/qml/QtQuick/Controls/Basic/MenuSeparator.qml
Gyroflow/qml/QtQuick/Controls/Basic/MonthGrid.qml
Gyroflow/qml/QtQuick/Controls/Basic/Page.qml
Gyroflow/qml/QtQuick/Controls/Basic/PageIndicator.qml
Gyroflow/qml/QtQuick/Controls/Basic/Pane.qml
Gyroflow/qml/QtQuick/Controls/Basic/Popup.qml
Gyroflow/qml/QtQuick/Controls/Basic/ProgressBar.qml
Gyroflow/qml/QtQuick/Controls/Basic/qmldir
Gyroflow/qml/QtQuick/Controls/Basic/RadioButton.qml
Gyroflow/qml/QtQuick/Controls/Basic/RadioDelegate.qml
Gyroflow/qml/QtQuick/Controls/Basic/RangeSlider.qml
Gyroflow/qml/QtQuick/Controls/Basic/RoundButton.qml
Gyroflow/qml/QtQuick/Controls/Basic/ScrollBar.qml
Gyroflow/qml/QtQuick/Controls/Basic/ScrollIndicator.qml
Gyroflow/qml/QtQuick/Controls/Basic/ScrollView.qml
Gyroflow/qml/QtQuick/Controls/Basic/SelectionRectangle.qml
Gyroflow/qml/QtQuick/Controls/Basic/Slider.qml
Gyroflow/qml/QtQuick/Controls/Basic/SpinBox.qml
Gyroflow/qml/QtQuick/Controls/Basic/SplitView.qml
Gyroflow/qml/QtQuick/Controls/Basic/StackView.qml
Gyroflow/qml/QtQuick/Controls/Basic/SwipeDelegate.qml
Gyroflow/qml/QtQuick/Controls/Basic/SwipeView.qml
Gyroflow/qml/QtQuick/Controls/Basic/Switch.qml
Gyroflow/qml/QtQuick/Controls/Basic/SwitchDelegate.qml
Gyroflow/qml/QtQuick/Controls/Basic/TabBar.qml
Gyroflow/qml/QtQuick/Controls/Basic/TabButton.qml
Gyroflow/qml/QtQuick/Controls/Basic/TextArea.qml
Gyroflow/qml/QtQuick/Controls/Basic/TextField.qml
Gyroflow/qml/QtQuick/Controls/Basic/ToolBar.qml
Gyroflow/qml/QtQuick/Controls/Basic/ToolButton.qml
Gyroflow/qml/QtQuick/Controls/Basic/ToolSeparator.qml
Gyroflow/qml/QtQuick/Controls/Basic/ToolTip.qml
Gyroflow/qml/QtQuick/Controls/Basic/TreeViewDelegate.qml
Gyroflow/qml/QtQuick/Controls/Basic/Tumbler.qml
Gyroflow/qml/QtQuick/Controls/Basic/VerticalHeaderView.qml
Gyroflow/qml/QtQuick/Controls/Basic/WeekNumberColumn.qml
Gyroflow/qml/QtQuick/Controls/Basic/impl/libqtquickcontrols2basicstyleimplplugin.so
Gyroflow/qml/QtQuick/Controls/Basic/impl/qmldir
Gyroflow/qml/QtQuick/Controls/Material/ApplicationWindow.qml
Gyroflow/qml/QtQuick/Controls/Material/BusyIndicator.qml
Gyroflow/qml/QtQuick/Controls/Material/Button.qml
Gyroflow/qml/QtQuick/Controls/Material/CheckBox.qml
Gyroflow/qml/QtQuick/Controls/Material/CheckDelegate.qml
Gyroflow/qml/QtQuick/Controls/Material/ComboBox.qml
Gyroflow/qml/QtQuick/Controls/Material/DelayButton.qml
Gyroflow/qml/QtQuick/Controls/Material/Dial.qml
Gyroflow/qml/QtQuick/Controls/Material/Dialog.qml
Gyroflow/qml/QtQuick/Controls/Material/DialogButtonBox.qml
Gyroflow/qml/QtQuick/Controls/Material/Drawer.qml
Gyroflow/qml/QtQuick/Controls/Material/Frame.qml
Gyroflow/qml/QtQuick/Controls/Material/GroupBox.qml
Gyroflow/qml/QtQuick/Controls/Material/HorizontalHeaderView.qml
Gyroflow/qml/QtQuick/Controls/Material/ItemDelegate.qml
Gyroflow/qml/QtQuick/Controls/Material/Label.qml
Gyroflow/qml/QtQuick/Controls/Material/libqtquickcontrols2materialstyleplugin.so
Gyroflow/qml/QtQuick/Controls/Material/Menu.qml
Gyroflow/qml/QtQuick/Controls/Material/MenuBar.qml
Gyroflow/qml/QtQuick/Controls/Material/MenuBarItem.qml
Gyroflow/qml/QtQuick/Controls/Material/MenuItem.qml
Gyroflow/qml/QtQuick/Controls/Material/MenuSeparator.qml
Gyroflow/qml/QtQuick/Controls/Material/Page.qml
Gyroflow/qml/QtQuick/Controls/Material/PageIndicator.qml
Gyroflow/qml/QtQuick/Controls/Material/Pane.qml
Gyroflow/qml/QtQuick/Controls/Material/Popup.qml
Gyroflow/qml/QtQuick/Controls/Material/ProgressBar.qml
Gyroflow/qml/QtQuick/Controls/Material/qmldir
Gyroflow/qml/QtQuick/Controls/Material/RadioButton.qml
Gyroflow/qml/QtQuick/Controls/Material/RadioDelegate.qml
Gyroflow/qml/QtQuick/Controls/Material/RangeSlider.qml
Gyroflow/qml/QtQuick/Controls/Material/RoundButton.qml
Gyroflow/qml/QtQuick/Controls/Material/ScrollBar.qml
Gyroflow/qml/QtQuick/Controls/Material/ScrollIndicator.qml
Gyroflow/qml/QtQuick/Controls/Material/ScrollView.qml
Gyroflow/qml/QtQuick/Controls/Material/SelectionRectangle.qml
Gyroflow/qml/QtQuick/Controls/Material/Slider.qml
Gyroflow/qml/QtQuick/Controls/Material/SpinBox.qml
Gyroflow/qml/QtQuick/Controls/Material/SplitView.qml
Gyroflow/qml/QtQuick/Controls/Material/StackView.qml
Gyroflow/qml/QtQuick/Controls/Material/SwipeDelegate.qml
Gyroflow/qml/QtQuick/Controls/Material/SwipeView.qml
Gyroflow/qml/QtQuick/Controls/Material/Switch.qml
Gyroflow/qml/QtQuick/Controls/Material/SwitchDelegate.qml
Gyroflow/qml/QtQuick/Controls/Material/TabBar.qml
Gyroflow/qml/QtQuick/Controls/Material/TabButton.qml
Gyroflow/qml/QtQuick/Controls/Material/TextArea.qml
Gyroflow/qml/QtQuick/Controls/Material/TextField.qml
Gyroflow/qml/QtQuick/Controls/Material/ToolBar.qml
Gyroflow/qml/QtQuick/Controls/Material/ToolButton.qml
Gyroflow/qml/QtQuick/Controls/Material/ToolSeparator.qml
Gyroflow/qml/QtQuick/Controls/Material/ToolTip.qml
Gyroflow/qml/QtQuick/Controls/Material/TreeViewDelegate.qml
Gyroflow/qml/QtQuick/Controls/Material/Tumbler.qml
Gyroflow/qml/QtQuick/Controls/Material/VerticalHeaderView.qml
Gyroflow/qml/QtQuick/Controls/Material/impl/BoxShadow.qml
Gyroflow/qml/QtQuick/Controls/Material/impl/CheckIndicator.qml
Gyroflow/qml/QtQuick/Controls/Material/impl/CursorDelegate.qml
Gyroflow/qml/QtQuick/Controls/Material/impl/ElevationEffect.qml
Gyroflow/qml/QtQuick/Controls/Material/impl/libqtquickcontrols2materialstyleimplplugin.so
Gyroflow/qml/QtQuick/Controls/Material/impl/qmldir
Gyroflow/qml/QtQuick/Controls/Material/impl/RadioIndicator.qml
Gyroflow/qml/QtQuick/Controls/Material/impl/RectangularGlow.qml
Gyroflow/qml/QtQuick/Controls/Material/impl/SliderHandle.qml
Gyroflow/qml/QtQuick/Controls/Material/impl/SwitchIndicator.qml
Gyroflow/qml/QtQuick/Controls/impl/libqtquickcontrols2implplugin.so
Gyroflow/qml/QtQuick/Controls/impl/qmldir
Gyroflow/qml/QtQuick/Dialogs/libqtquickdialogsplugin.so
Gyroflow/qml/QtQuick/Dialogs/qmldir
Gyroflow/qml/QtQuick/Dialogs/quickimpl/libqtquickdialogs2quickimplplugin.so
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qmldir
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/ColorDialog.qml
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/ColorInputs.qml
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/FileDialog.qml
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/FileDialogDelegate.qml
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/FileDialogDelegateLabel.qml
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/FolderBreadcrumbBar.qml
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/FolderDialog.qml
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/FolderDialogDelegate.qml
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/FolderDialogDelegateLabel.qml
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/FontDialog.qml
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/FontDialogContent.qml
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/HueGradient.qml
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/MessageDialog.qml
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/PickerHandle.qml
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/SaturationLightnessPicker.qml
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/+Material/ColorDialog.qml
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/+Material/FileDialog.qml
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/+Material/FileDialogDelegate.qml
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/+Material/FolderBreadcrumbBar.qml
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/+Material/FolderDialog.qml
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/+Material/FolderDialogDelegate.qml
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/+Material/FontDialog.qml
Gyroflow/qml/QtQuick/Dialogs/quickimpl/qml/+Material/MessageDialog.qml
Gyroflow/qml/QtQuick/Layouts/libqquicklayoutsplugin.so
Gyroflow/qml/QtQuick/Layouts/qmldir
Gyroflow/qml/QtQuick/Templates/libqtquicktemplates2plugin.so
Gyroflow/qml/QtQuick/Templates/qmldir
Gyroflow/qml/QtQuick/Window/libquickwindowplugin.so
Gyroflow/qml/QtQuick/Window/qmldir
